.AdminNavbar {
  background-color: var(--background-color);
  height: 100vh; /* Full height of the viewport */
  color: rgb(167, 174, 179);
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: width 0.4s ease-out; /* Smooth width transition */
  overflow: hidden; /* Hide overflow content when collapsed */
  width: 3rem; /* Default collapsed width */
}

.AdminNavbar:hover {
  width: 15rem; /* Expand to full width on hover */
}

.AdminNavbar a {
  font-family: sans-serif;
  padding: 15px 10px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
}

.AdminNavbar a:hover:not(.active) {
  background: var(--primary-color);
  color: var(--text-color);
}

.AdminNavbar a.active {
  background: var(--primary-color);
  color: var(--text-color);
}

.AdminNavbar li {
  position: relative;
  display: flex;
  justify-content: center;
}

.AdminNavbar a p {
  display: none;
}

.AdminNavbar:hover a p {
  display: inline;
}

.triangle {
  position: absolute;
  z-index: 2;
  width: fit-content;
  height: fit-content;
  padding: 0;
  margin: 0;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.AdminNavbar:hover .triangle {
  display: block;
}

.AdminNavbar img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}