.Contact{
    width: 100%;
    min-height: 70vh;
}
.Contact h1{
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    font-weight: bold;
   
}
.Contact p{
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
    color: #a09d9d;
    
}
.Contact h2{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;

}
.Contact p{
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}
.contactInfo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.contactInfo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.address, .phone, .email{
    font-size: 20px;
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    color:var(--background-color);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
}

