:root{
  --primary-color:  linear-gradient(90deg,rgba(35, 55, 250, 1) 0%, rgba(25, 41, 178, 1) 61%, rgba(27, 28, 107, 1) 100%);
  --secondary-color: #4c4b4a;
  --tertiary-color: #303031b6;
  --background-color: #171622;
  --background-color-high: #14131a;
  --background-color-low: #14131aea;
  --text-color: #fdffff;
  --hover-color: #1c2792;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: var(--background-color-high);
  color: var(--text-color);
}