.Stylists{
    display: flex;
    background: var(--background-color-light);
}
.Stylists_container{
  display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
     padding-left: 60px; /* Space for the navbar */
}
.Stylists_TopBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.AddStylistButton{
    padding: 10px 20px;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.AddStylistButton:hover{
    background: var(--primary-color);
}
.AddStylistForm{
   display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
}
.AddStylistForm input, .AddStylistForm select{
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--background-color-light);
    color: var(--text-color);
}   

.AddStylistForm input[type="checkbox"] {
    background-color: var(--background-color-light);
    color: var(--text-color);
}
.Label{
    font-weight: bold;
}
.RadioLabel{
    display: flex;
    align-items: center;
    gap: 5px;
}
.CheckboxGroup{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
}
.CheckboxLabel{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.SubmitButton{
    padding: 10px 20px;
    background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.SubmitButton:hover{
    background: var(--primary-color);
}
.CancelButton{
    padding: 10px 20px;
   background: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.CancelButton:hover{
    background: red;
}
.ImgDetailContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.ImgContainer {
  position: relative;
  margin-right: 15px;
  cursor: pointer;
}
.ImgContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
.uploadOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 0.9rem;
}